@model ReservationVM
@{
    ViewData["Title"] = "Réservation en ligne";
}

<div class="container">
    <div class="row">
        <div class="col-md-4 d-none d-md-block">
            <img src="~/img/Reserve-Icon.png" alt="Réservation" class="w-100" />
        </div>
        <div class="col">
            <div class="page-title text-center">
                <h2>Votre réservation</h2>
            </div>
            <div class="form-section">
                <hr />
                <form asp-action="Index">
                    <div class="form-group row">
                        <label asp-for="Reservation.Nom" class="col-form-label col-md-3"><b>Nom</b></label>
                        <div class="col-md-9">
                            <input asp-for="Reservation.Nom" class="form-control" />
                            <span asp-validation-for="Reservation.Nom" class="text-danger"></span>

                        </div>
                    </div>

                    <div class="form-group row">
                        <label asp-for="Reservation.Courriel" class="col-form-label col-md-3"><b>Courriel</b></label>
                        <div class="col-md-9 ">
                                @*<div class="input-group-text">@@</div>*@
                            <input asp-for="Reservation.Courriel" class="form-control"/>
                            <span asp-validation-for="Reservation.Courriel" class="text-danger"></span>

                        </div>
                    </div>
                    
                    <div class="form-group row">
                        <label asp-for="Reservation.NbPersonne" class="col-form-label col-md-3"><b>Nombre</b></label>
                        <div class="col-md-9">
                            <input asp-for="Reservation.NbPersonne" class="form-control" id="number" min="0"/>
                            <span asp-validation-for="Reservation.NbPersonne" class="text-danger"></span>

                        </div>
                    </div>
                    
                    <div class="form-group row">
                        <label asp-for="Reservation.DateReservation" class="col-form-label col-md-3"><b>Date</b></label>
                        <div class="col-md-9">
                            <input asp-for="Reservation.DateReservation" class="form-control" id="date"/>
                            <span asp-validation-for="Reservation.DateReservation" class="text-danger"></span>

                        </div>
                    </div>
                  
                    <div class="form-group row">
                        <label asp-for="Reservation.MenuChoiceId" class="col-form-label col-md-3"><b>Choix de menu</b></label>
                        <div class="col-md-9">
                            <select asp-for="Reservation.MenuChoiceId" asp-items="@(new SelectList(Model.Menuchoices, "Id", "Description"))" class="form-control">
                                <option value="0"></option>
                            </select>
                            <span asp-validation-for="Reservation.MenuChoiceId" class="text-danger"></span>
                        </div>
                    </div>
                    <hr />
                    
                    <div class="row text-center">
                        <div class="col">
                            <div class="text-center">
                                <input type="submit" value="Confirmer la réservation" class="btn btn-primary" />
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>


