@model List<Menuchoices>
@{
    ViewData["Title"] = "Réservation en ligne";
}

<div class="container">
    <div class="row">
        <div class="col-md-4 d-none d-md-block">
            <img src="~/img/Reserve-Icon.png" alt="Réservation" class="w-100" />
        </div>
        <div class="col">
            <div class="page-title text-center">
            <h2>Votre réservation</h2>
            </div>
            <div class="form-section">
                <form method="post">
                    <div class="row ">
                        <div class="col-4 text-end">
                            <label class="form-control-label" for="name"> <b>Nom</b></label>
                        </div>
                        <div class="col text-start">
                            <input type="text" class="form-control" name="name" id="name">
                        </div>
                    </div>
                    <br/>
                    <div class="row">
                        <div class="col-4 text-end">
                            <label class="form-control-label" for="email"><b>Courriel</b></label>
                        </div>
                        <div class="col text-start">
                            <div class="input-group">
                                <div class="input-group-prepend">
                                    <div class="input-group-text">@@</div>
                                </div>
                                <input type="text" class="form-control" id="email" name="email">
                            </div>

                        </div>
                    </div>
                        <br />
                    <div class="row">
                        <div class="col-4 text-end">
                            <label class="form-control-label font-weight-bold" for="name"><b>Nombre</b></label>
                        </div>
                        <div class="col text-start">
                            <input type="text" class="form-control" name="number" id="number" min="0">

                        </div>
                    </div>
                        <br />
                    <div class="row">
                        <div class="col-4 text-end">
                            <label class="form-control-label font-weight-bold" for="name"><b>Date</b></label>
                        </div>
                        <div class="col text-start">
                            <input type="text" class="form-control" name="date" id="date">
                        </div>
                    </div>
                        <br />
                    <div class="row">
                        <div class="col-4 text-end">
                            <label class="form-control-label font-weight-bold" for="name"><b>Choix de menu</b></label>
                        </div>
                        <div class="col text-start">
                               <select class="combo">
                                @foreach (Menuchoices choix in Model)
                                {
                                    @*menuchoices.Description*@
                                    <option value="@choix.Description">@Html.DisplayFor(model => choix.Description)</option>
                                }

                                </select>
                        </div>
                    </div>
                        <br />
                    <div class="row text-center">
                        <div class="col">
                            <div class="form-button">
                                <span class="input-group-btn">
                                    @*Renvoyer à reservation/details/{id} = ~/Reservation/Details/@choix.Id*@
                                    <button href="" type="submit" class="btn btn-primary">Confirmer la réservation</button>
                                </span>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>


