
@{
}

<div id="reservation-page">
    <div class="row">
        <div class="col-12">
            <div class="page-title">
                <h2>Réservation complétée avec succès</h2>
            </div>
        </div>
    </div>
    <div class="row">
        <label><b>Nom :<b></label>
    </div>
    
      <div class="row">
        <label><b>Courriel :<b></label>
    </div>
     
      <div class="row">
        <label><b>Date :<b></label>
    </div>
    
      <div class="row">
        <label><b>Choix de menu :<b></label>
    </div>
   
      <div class="row">
          <p>Merci d'avoir utiliser notre module de réservation en ligne.</p>
          <p>Au plaisir de vous voir bientôt.</p></br>
          <p>L'équipe</p>
    </div>
    @*Lien pour Retourner à la page d'accueil*@
</div>
     
    
     