@model Menuchoices
@{
    ViewData["Title"] = "Supprimer un choix de menu";
}
<div id="product-delete-page">
    <div class="row text-center">
        <div class="offset-md-1 offset-lg-2 col-md-10 col-lg-8">
            <div class="page-title">
                <h2><i class="fa-regular fa-rectangle-list"></i> Supprimer un choix de menu</h2>
            </div>
            <div class="form-section">
                <h5>Êtes-vous certain de vouloir supprimer cet item ?</h5>
                <hr />
                <div class="row details-row">
                    <div class="col-sm-6"><b>@Html.DisplayNameFor(model => model.Description) : </b></div>
                    <div class="col-sm-6">@Html.DisplayFor(model => model.Description)</div>
                </div>
               
                <hr />
                <form asp-action="Delete">
                    <input type="submit" value="Supprimer" class="btn btn-danger" />
                </form>
            </div>
            <br />
            <div class="links">
                <a asp-action="Index">Retour à la liste des choix de menu</a>
            </div>
        </div>
    </div>
</div>
