@*@model List<Menuchoices>*@
@{
    ViewData["Title"] = "Administration";
}
<div class="row">
    <div class="col-12">
        <div class="page-title">
            <h2>Liste des choix de menu</h2>
        </div>
    </div>
</div>
<div class="row">
   
</div>

